# node_modules klasörünü ignore et
browser/node_modules/

# electron build çıktıları
browser/dist/
browser/build/

# log dosyaları
*.log

# OS dosyaları
.DS_Store
Thumbs.db

# VSCode ayarları
.vscode/
